.navbar
{
  position:sticky;
  top: 0;
  /* overflow: hidden; */
  /* border: solid 1px; */
  height: max-content;
  /* width:993px; */

}
.main
{
    display:flex;
    background-color: black;
    height: 80px;
    align-items: center;
    width:auto;
  
    justify-content: space-evenly;
    /* position: sticky; */

}
.first img
{
    height: 50px;
    width: 100px;
    padding: 20px;
}
.search
{
    margin-top: 30px;
    /* margin-left: 200px; */
    /* width: 600px; */
}
.search input
{
    width: 400px;
    height: 30px;
    border-radius: 5px;
   background-color: rgb(33, 33, 33)
}
.search button
{
    width: 100px;
    height: 30px;
    /* padding-right: 10px; */
    border-radius: 5px;

}
.logo
{
    display: flex;
    /* text-decoration-line: none; */

}
.logo a
{
  text-decoration: none;
}
.logo img
{
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: 80px;
}
.logo p
{
    color: white;
    margin-top: 30px;
    margin-left: 2px;
}
.ist
{
  /* color: white; */
  height: 20px;
  width: 20px;
  margin-top:30px ;
  margin-left: 30px;
}
.sec
{
  height: 20px;
  width: 20px;
  margin-left: 5px;
  /* background-color: black; */
}
.secnav
{
    display:flex;
    background-color: rgb(20, 20, 20);
}
header{
    /* width:100%; */
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
    /* color: white; */
  }
  .containers{
    /* width:100%; */
    position: relative;
    margin:auto;
    /* color: white; */
  }
  nav>ul{
   display:flex;
  }
  nav>ul>li{
    padding:30px 20px;
    list-style: none;
  }
  nav>ul>li a{
    color:white;
    text-decoration: none;
    margin-right: 10px;
  }
  .megamenu{
    position: absolute;
    top:120%;
    opacity: 0;
    visibility: hidden;
    flex-wrap: wrap;
    width:98%;
  
    transition:0.1s;
    display: flex;
    left:0px;
    box-shadow:0px 10px 2px 3px lightslategray ;
    margin-left:20px;
    gap:80px;
  
  }
  .navbar-2 div:hover .megamenu{
    opacity: 1;
    top:100%;
    visibility: visible;
    background-color: #F5F5F5;
  
  }
  .megamenuitems{
    flex-basis: 10%;
    height: auto;
    margin:0.5%;
    /* color: white; */
  
  }
  
  .megamenuitems h4{
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    /* color: white; */
  
  }
  
  .megamenuitems h4{
    font-size: 13px;
  
  }
  .megamenuitems h4:hover{
    color: #FF7035;
    cursor: pointer;
  
  }
  .megamenuitems p{
    font-size: 13px;
    text-align: left;
  
    color: #656565;
   
    margin:auto;
  }
  .megamenuitems p:hover{
    color: #FF7035;
    cursor: pointer;
  }
 
  
  .navbar-2{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(11,1fr); */
    /* border:2px solid red; */
    /* width:98%; */
    justify-content:space-evenly;

  
    margin-left:10px;
  }
  
  .hyperlinks a{
    color:white;
    border:none;
    outline:none;
    text-decoration: none;
    font-size: small;
    /* padding: 5px; */
    /* font-weight: bold; */
  }
  .hyperlinks a:hover{
    color: green;
  }

  #main1
       {
        /* position: relative; */
        /* height: auto; */
        width: 100%;
        /* margin-top: 99px; */
       }
       img
       {
        height: auto;
        width: 100%;
       }
       .slider{
       
        height: 250px;
        margin: auto;
        position: relative;
        width: 1000px;
        display: grid;
        overflow: hidden;
        z-index: -1;
        place-items: center;
}
 .slide-track
 {
        display: flex;
        width: calc(250px*18);
        animation: scroll 40s linear infinite; 
 }
 @keyframes scroll
{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-250px*9));
        }

}
.slide{
        height: 200px;
        width: 250px;
        display: flex;
        align-items: center;
        padding: 15px;
        perspective: 100px;
    }
img
{
        width: 100%;
        transition: transform 1s;

}
img:hover
{
        transform: translateZ(20px);
}
.slider::before,
.slider::after{
        background: linear-gradient(to right,rgba(255,255,255,0) 100%);
        content: '';
        height: 100%;
        position:absolute;
        width: 15%;
        z-index: 2;
}
.slider::before
{
        left: 0;
        top: 0;
        transform: rotateZ(90deg);
}
.slider::after
{
       right: 0;
       top: 0;
       transform: rotateZ(90deg);
}
.best h3{
  font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.one{
  /* border: 1px solid red; */
  height: 400px;
}
.one h3
{
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 5px;
}
.two
{
  display: flex;
}
.inner{
  height: 200px;
  width: 500px;
  margin-top: 30px;
  padding-left: 20px;
  /* border-radius: 2000px; */
  /* display: block; */
  /* box-sizing: border; */
  
}
.inner img{
  border-radius: 20px;
}
.inner1
{
  height: 200px;
  width: 500px;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 20px;
  display: block;
  box-sizing: border;
}
.inner1 img
{
  border-radius: 20px;
}
.three
{
  text-align: center;
}
.four
{
  text-align: center;
}
.inner3 img
{
  height: 300px;
  width: 850px;
  border-radius: 20px;
}
.five
{
  text-align: center;

}
.six{
  display: flex;
}
.in img{
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-left: 20px;
  /* padding-left: 20px; */
  border-radius: 20px;
}
.in1 img{
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-left: 20px;
  /* padding-left: 20px; */
  border-radius: 20px;
}
.in2 img{
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-left: 20px;
  /* padding-left: 20px; */
  border-radius: 20px;
}
.seven
{
  text-align: center;
}
.eight
{
  /* margin-top: auto; */
  text-align: center;
  /* border: 1px solid red; */
}
.out img
{
  height: 200px;
  /* margin-left: 20px;
  margin-right: 20px; */
  width: 950px;
  border-radius: 20px;
}
.nine{
  text-align: center;
  margin-top: 100px;
}
.footer
{
  background-color: black;
  margin: auto;
  justify-items: center;
  /* height: 132px; */
}
.infoot
{
  justify-content:center;
  /* margin: auto; */
  margin-top: 20px;

}
.infoot img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 130px

}
.secfoot
{
  display: flex;
  justify-content: center;
  /* justify-content:  space-around ; */
  /* margin: auto; */
  gap: 50px;
  margin-top: 30px;
}
.secfoot div img
{
  height: 30px;
  /* justify-content:; */
  /* width: 30px; */
}
.store
{
  /* display: flex; */
  text-align: center;
  align-items: center;

  color: white;
  /* width: 100px; */
}
.store div
{
  display:inline-flex;
  /* grid-template-rows: 100px 300px; */
  text-align: center;
  gap: 50px;
  /* margin-left: 230px; */
}
.last
{
  display: flex;
  color: white;
  margin-left: 65px;
  font-size: small;
  /* margin: auto; */
}
.supp
{
  /* margin-right: 40px; */
  /* padding-right: 40px; */
  margin-left: 60px;
}
.sugg
{
  display: flex;
  color: white;
  margin-left: 100px;
}
.app
{
  display: flex;
  height: 50px;
  width: 150px;
  margin-left: 50px;
  gap: 30px;
  margin-top: 20px;

}
.footer
{
  color: white;
  text-align: center;
}